.users-container {
  padding: 40px;
  padding-left: 250px;
  padding-right: 250px;
}

.back-link {
  margin-bottom: 20px;
  color: rgb(2, 133, 234);
}

.user-form {
  margin-bottom: 20px;
}

.user-form input, .user-form select {
  padding: 8px;
  margin: 10px;
  border: 1px solid #ddd;
}

.user-form button {
  padding: 8px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.user-form button[type="button"] {
  background-color: #f44336;
  margin-left: 10px;
}



th {
  background-color: white;
  justify-content: center;
}

tr:hover {
  background-color: #f9f9f9;
}

td button {
  padding: 20px 20px;
  margin-right: 5px;
  cursor:alias;
}

td button:first-child {
  background-color: rgb(2, 133, 234);;
  color: white;
  border: none;
}

td button:last-child {
  background-color: #f44336;
  color: white;
  border: none;
}